# Environment
.env
.env.*

# Database
*.db

# Storage
dyslexia_reader-main/storage/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
venv/

# Node
node_modules/
dist/

# Large files
*.zip
*.tar.gz

# OS
.DS_Store
Thumbs.db
